<template>
    <div>
        <span>{{connected}}</span>
        <button v-if="!connected" @click="connect">Connect</button>
        <div v-else>
            <h4>{{ name }}</h4>
            <img :src="picture">
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue';

export default {
    setup() {
        const connected = ref(false);
        const name = ref('');
        const picture = ref('');

        onMounted(() => {
            // eslint-disable-next-line no-undef
            FB.init({
                appId: 1262804797873632,
                version: 'v15.0'
            });

            // eslint-disable-next-line no-undef
            FB.getLoginStatus(statusGet);
        });

        const statusGet = (result) => {
            if (result.status === 'connected') {
                connected.value = true;
                // eslint-disable-next-line no-undef
                FB.api('/me', 'GET', {
                    fields: [ 'picture', 'name' ]
                }, rs => {
                    console.log(rs)
                    name.value = rs.name
                    picture.value = rs.picture.data.url
                })
            }
        }

        const connect = () => {
            // eslint-disable-next-line no-undef
            FB.login(result => {
                console.log(result)
            })
        }


        return {
            name,
            picture,
            connected,
            connect
        }
    }
}
</script>